// @author Ciro Arcadio <ciro.arcadio@dnafactory.it>
// This is a default var mapping between Magento 2 library and Bootstrap
//
//@vars_import (lib) '../../_variables.less';
//@vars_import (lib) '../../_theme.less';
//@vars_import (lib) '../../_extend.less';
//@vars_import '../../_module.less';

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    $color-white;
$gray-100: $color-gray94;
$gray-200: $color-gray91;
$gray-300: $color-gray83;
$gray-400: $color-gray62;
$gray-500: $color-gray55;
$gray-600: $color-gray43;
$gray-700: $color-gray34;
$gray-800: $color-gray20;
$gray-900: $color-gray19;
$black:    $color-black;

// Add your customs
//$grays: ();

$blue:    $color-blue3;
$indigo:  $color-dark-pink1;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     $color-red12;
$orange:  $color-orange-red4;
$yellow:  $color-yellow1;
$green:   $color-dark-green1;
$teal:    #20c997;
$cyan:    #17a2b8;

// Add your customs
//$colors: ();

$primary:       $theme__color__primary;
$secondary:     $theme__color__secondary;
$success:       $message-success__background;
$info:          $message-info__background;
$warning:       $message-warning__background;
$danger:        $message-error__background;
$light:         $secondary__color;
$dark:          $primary__color;

// Add your customs
//$theme-colors: ();

// Add your customs
//$escaped-characters: ();

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true;
$enable-rounded:                              $message__border-radius;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-grid-classes:                         true;
@if $button__cursor != pointer {
  $enable-pointer-cursor-for-buttons: false;
}
$enable-print-styles:                         true;
@if $font-size-unit == rem {
  $enable-responsive-font-sizes: true;
}
$enable-validation-icons:                     true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
//$spacers: ();

// This variable affects the `.h-*` and `.w-*` classes.
//$sizes: ();

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $page__background-color;
$body-color:                $text__color;

// Links
//
// Style anchor elements.

$link-color:                              $link__color;
$link-decoration:                         $link__text-decoration;
$link-hover-color:                        $link__hover__color;
$link-hover-decoration:                   $link__hover__text-decoration;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   $p__margin-bottom;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xxxs: 0,
        xxs:  $screen__xxs,
        xs:   $screen__xs,
        sm:   $screen__s,
        md:   $screen__m,
        lg:   $screen__l,
        xl:   $screen__xl
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: $screen__s - ($layout__width-xs-indent * 2),
        md: $screen__m - ($layout-indent__width * 2),
        lg: $layout__max-width
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:                number($total-columns);
$grid-gutter-width:           $layout__width-xs-indent * 2;
$grid-row-columns:            6;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              px-to-rem($line-height__l);
$line-height-sm:              px-to-rem($line-height__s);

$border-width:                $border-width__base;
$border-color:                $border-color__base;

//$border-radius:               .25rem;
//$border-radius-lg:            .3rem;
//$border-radius-sm:            .2rem;
//
//$rounded-pill:                50rem;
//
//$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
//$box-shadow:                  0 .5rem 1rem rgba($black, .15);
//$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
//
$component-active-color:      $accordion-control__active__color;
$component-active-bg:         $accordion-control__active__background-color;

//$caret-width:                 .3em;
//$caret-vertical-align:        $caret-width * .85;
//$caret-spacing:               $caret-width * .85;
//
//$transition-base:             all .2s ease-in-out;
//$transition-fade:             opacity .15s linear;
//$transition-collapse:         height .35s ease;
//
//$embed-responsive-aspect-ratios: ();


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      parse-font-family($font-family__sans-serif);
$font-family-monospace:       parse-font-family($font-family__monospace);
$font-family-base:            parse-font-family($font-family__base);
// stylelint-enable value-keyword-case


$font-size-base:              parse-font-size($font-size__base); // Assumes the browser default, typically `16px`
$font-size-lg:                parse-font-size($font-size__l);
$font-size-sm:                parse-font-size($font-size__s);

$font-weight-lighter:         lighter;
$font-weight-light:           $font-weight__light;
$font-weight-normal:          $font-weight__regular;
$font-weight-bold:            $font-weight__bold;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;
$line-height-base:            px-to-rem($line-height__base);

$h1-font-size:                parse-font-size($h1__font-size);
$h2-font-size:                parse-font-size($h2__font-size);
$h3-font-size:                parse-font-size($h3__font-size);
$h4-font-size:                parse-font-size($h4__font-size);
$h5-font-size:                parse-font-size($h5__font-size);
$h6-font-size:                parse-font-size($h6__font-size);

$headings-margin-bottom:      $heading__margin-bottom__base;
$headings-font-family:        parse-font-family($heading__font-family__base);
$headings-font-weight:        $heading__font-weight__base;
$headings-line-height:        px-to-rem($heading__line-height__base);
$headings-color:              $heading__color__base;

//$display1-size:               6rem;
//$display2-size:               5.5rem;
//$display3-size:               4.5rem;
//$display4-size:               3.5rem;
//
//$display1-weight:             300;
//$display2-weight:             300;
//$display3-weight:             300;
//$display4-weight:             300;
//$display-line-height:         $headings-line-height;

$lead-font-size:              parse-font-size($heading__small-size);
$lead-font-weight:            300;

$small-font-size:             80%;

$text-muted:                  $text__color__muted;

$blockquote-small-color:      $blockquote-small__color;
$blockquote-small-font-size:  parse-font-size($blockquote-small__font-size);
$blockquote-font-size:        parse-font-size($blockquote__font-size);

$hr-border-color:             $hr__border-color;
$hr-border-width:             $hr__border-width;

$mark-padding:                .2em;

$dt-font-weight:              $dt__font-weight;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25);
$nested-kbd-font-weight:      $font-weight-bold;

$list-inline-padding:         .5rem;

$mark-bg:                     $mark__background-color;

$hr-margin-y:                 $spacer;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          $table-cell__padding-vertical $table-cell__padding-horizontal;
$table-cell-padding-sm:       $table-responsive-cell__padding;

$table-color:                 $table-td__color;
$table-bg:                    $table__background-color;
$table-accent-bg:             rgba($black, .05);
$table-hover-color:           $table-color;
$table-hover-bg:              $table-cell__hover__background-color;
$table-active-bg:             $table-cell-stripped__background-color;

$table-border-width:          $table__border-width;
$table-border-color:          $table__border-color;

$table-head-bg:               $table-head__background-color;
$table-head-color:            $table-th__color;
$table-th-font-weight:        $table-th__font-weight;

//$table-dark-color:            $white;
//$table-dark-bg:               $gray-800;
//$table-dark-accent-bg:        rgba($white, .05);
//$table-dark-hover-color:      $table-dark-color;
//$table-dark-hover-bg:         rgba($white, .075);
//$table-dark-border-color:     lighten($table-dark-bg, 7.5%);

//$table-striped-order:         odd;

$table-caption-color:         $table-caption__color;

//$table-bg-level:              -9;
//$table-border-level:          -6;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$_splitted-button-paddings: split-value($button__padding);
$input-btn-padding-y:         px-to-rem(map-get($_splitted-button-paddings, "top"));
$input-btn-padding-x:         px-to-rem(map-get($_splitted-button-paddings, "left"));
$input-btn-font-family:       parse-font-family($button__font-family);
$input-btn-font-size:         parse-font-size($button__font-size);
$input-btn-line-height:       px-to-rem($button__line-height);

$input-btn-focus-width:       nth($focus__box-shadow, 4);
$input-btn-focus-color:       null;
$input-btn-focus-box-shadow:  $focus__box-shadow;

$_splitted-button-paddings-s: split-value($button__padding__s);
$input-btn-padding-y-sm:      px-to-rem(map-get($_splitted-button-paddings-s, "top"));
$input-btn-padding-x-sm:      px-to-rem(map-get($_splitted-button-paddings-s, "left"));
$input-btn-font-size-sm:      parse-font-size($button__font-size__s);
$input-btn-line-height-sm:    px-to-rem($button__line-height__s);

$_splitted-button-paddings-l: split-value($button__padding__l);
$input-btn-padding-y-lg:      px-to-rem(map-get($_splitted-button-paddings-l, "top"));
$input-btn-padding-x-lg:      px-to-rem(map-get($_splitted-button-paddings-l, "left"));
$input-btn-font-size-lg:      parse-font-size($button__font-size__l);
$input-btn-line-height-lg:    px-to-rem($button__line-height__l);

$input-btn-border-width:      map-get(split-border($button__border), "width");

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

//$btn-padding-y:               $input-btn-padding-y;
//$btn-padding-x:               $input-btn-padding-x;
//$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;
//$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

//$btn-padding-y-sm:            $input-btn-padding-y-sm;
//$btn-padding-x-sm:            $input-btn-padding-x-sm;
//$btn-font-size-sm:            $input-btn-font-size-sm;
//$btn-line-height-sm:          $input-btn-line-height-sm;

//$btn-padding-y-lg:            $input-btn-padding-y-lg;
//$btn-padding-x-lg:            $input-btn-padding-x-lg;
//$btn-font-size-lg:            $input-btn-font-size-lg;
//$btn-line-height-lg:          $input-btn-line-height-lg;

//$btn-border-width:            $input-btn-border-width;

$btn-font-weight:             $button__font-weight;
$btn-box-shadow:              null;
$btn-focus-width:             $input-btn-focus-width;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow;
$btn-disabled-opacity:        $button__disabled__opacity;
$btn-active-box-shadow:       null;

$btn-link-disabled-color:     $form-element-input__disabled__color;

//$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $button__border-radius;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// Forms

$label-margin-bottom:                   map-get(split-value($form-field-type-label-block__margin),'bottom');

$input-padding-y:                       map-get(split-value($form-element-input__padding),'top');
$input-padding-x:                       map-get(split-value($form-element-input__padding),'left');
$input-font-family:                     parse-font-family($input-text__font-family);
$input-font-size:                       parse-font-size($input-text__font-size);
$input-font-weight:                     $input-text__font-weight;
$input-line-height:                     px-to-rem($input-text__line-height);

//$input-padding-y-sm:                    $input-btn-padding-y-sm;
//$input-padding-x-sm:                    $input-btn-padding-x-sm;
//$input-font-size-sm:                    $input-btn-font-size-sm;
//$input-line-height-sm:                  $input-btn-line-height-sm;

//$input-padding-y-lg:                    $input-btn-padding-y-lg;
//$input-padding-x-lg:                    $input-btn-padding-x-lg;
//$input-font-size-lg:                    $input-btn-font-size-lg;
//$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $input-text__background;
$input-disabled-bg:                     $input-text__disabled__background;

$input-color:                           $input-text__color;
$input-border-color:                    map-get(split-border($input-text__border),'color');
$input-border-width:                    map-get(split-border($input-text__border),'width');
//$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);

$input-border-radius:                   $input-text__border-radius;
$input-border-radius-lg:                $input-text__border-radius;
$input-border-radius-sm:                $input-text__border-radius;

$input-focus-bg:                        $input-text__focus__background;
$input-focus-border-color:              map-get(split-border($input-text__focus__border),'color');
$input-focus-color:                     $input-text__focus__color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-placeholder-color:               $input-text-placeholder__color;
$input-plaintext-color:                 $body-color;

$input-height-border:                   $input-border-width * 2;

//$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2);
//$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y);
//$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2);

$input-height:                          $input-text__height;
$input-height-sm:                       $input-height;
$input-height-lg:                       $input-height;

//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  map-get(split-value($input-text__margin),'top');

//$form-check-input-gutter:               1.25rem;
$form-check-input-margin-y:             map-get(split-value($input-checkbox__margin),'top');
$form-check-input-margin-x:             map-get(split-value($input-checkbox__margin),'left');

$form-check-inline-margin-x:            map-get(split-value($form-field-type-inline__margin),'left');
$form-check-inline-input-margin-x:      map-get(split-value($form-field-type-inline__margin),'left');

//$form-grid-gutter-width:                10px;
//$form-group-margin-bottom:              1rem;

//$input-group-addon-color:               $input-color;
//$input-group-addon-bg:                  $gray-200;
//$input-group-addon-border-color:        $input-border-color;

//$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

//$custom-control-gutter:                 .5rem !default;
//$custom-control-spacer-x:               1rem !default;
//$custom-control-cursor:                 null !default;

//$custom-control-indicator-size:         1rem !default;
//$custom-control-indicator-bg:           $input-bg !default;

//$custom-control-indicator-bg-size:      50% 50% !default;
//$custom-control-indicator-box-shadow:   $input-box-shadow !default;
//$custom-control-indicator-border-color: $gray-500 !default;
//$custom-control-indicator-border-width: $input-border-width !default;

//$custom-control-label-color:            null !default;

//$custom-control-indicator-disabled-bg:          $input-disabled-bg !default;
//$custom-control-label-disabled-color:           $gray-600 !default;

//$custom-control-indicator-checked-color:        $component-active-color !default;
//$custom-control-indicator-checked-bg:           $component-active-bg !default;
//$custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5) !default;
//$custom-control-indicator-checked-box-shadow:   null !default;
//$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg !default;

$custom-control-indicator-focus-box-shadow:     $input-focus-box-shadow;
//$custom-control-indicator-focus-border-color:   $input-focus-border-color !default;

//$custom-control-indicator-active-color:         $component-active-color !default;
//$custom-control-indicator-active-bg:            lighten($component-active-bg, 35%) !default;
//$custom-control-indicator-active-box-shadow:    null !default;
//$custom-control-indicator-active-border-color:  $custom-control-indicator-active-bg !default;

//$custom-checkbox-indicator-border-radius:       $border-radius !default;
//$custom-checkbox-indicator-icon-checked:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>") !default;

//$custom-checkbox-indicator-indeterminate-bg:           $component-active-bg !default;
//$custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
//$custom-checkbox-indicator-icon-indeterminate:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'><path stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/></svg>") !default;
//$custom-checkbox-indicator-indeterminate-box-shadow:   null !default;
//$custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg !default;

//$custom-radio-indicator-border-radius:          50% !default;
//$custom-radio-indicator-icon-checked:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'><circle r='3' fill='#{$custom-control-indicator-checked-color}'/></svg>") !default;

//$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
//$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
//$custom-switch-indicator-size:                  subtract($custom-control-indicator-size, $custom-control-indicator-border-width * 4) !default;

$custom-select-padding-y:           px-to-rem(map-get(split-value($select__padding),'top'));
$custom-select-padding-x:           px-to-rem(map-get(split-value($select__padding),'left'));
$custom-select-font-family:         parse-font-family($select__font-family);
$custom-select-font-size:           parse-font-size($select__font-size);
$custom-select-height:              $select__height;
//$custom-select-indicator-padding:   1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-font-weight:         $select__font-weight;
$custom-select-line-height:         px-to-rem($select__line-height);
$custom-select-color:               $select__color;
$custom-select-disabled-color:      $select__disabled__color;
$custom-select-bg:                  $select__background;
$custom-select-disabled-bg:         $select__disabled__background;
//$custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
//$custom-select-indicator-color:     $gray-800 !default;
//$custom-select-indicator:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") !default;
//$custom-select-background:          escape-svg($custom-select-indicator) no-repeat right $custom-select-padding-x center / $custom-select-bg-size !default; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

//$custom-select-feedback-icon-padding-right: add(1em * .75, (2 * $custom-select-padding-y * .75) + $custom-select-padding-x + $custom-select-indicator-padding) !default;
//$custom-select-feedback-icon-position:      center right ($custom-select-padding-x + $custom-select-indicator-padding) !default;
//$custom-select-feedback-icon-size:          $input-height-inner-half $input-height-inner-half !default;

$custom-select-border-width:        map-get(split-border($select__border),'width');
$custom-select-border-color:        map-get(split-border($select__border),'color');
$custom-select-border-radius:       $select__border-radius;
//$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075) !default;

$custom-select-focus-border-color:  map-get(split-border($select__focus__border),'color');
//$custom-select-focus-width:         $input-focus-width !default;
//$custom-select-focus-box-shadow:    0 0 0 $custom-select-focus-width $input-btn-focus-color !default;

//$custom-select-padding-y-sm:        $input-padding-y-sm !default;
//$custom-select-padding-x-sm:        $input-padding-x-sm !default;
//$custom-select-font-size-sm:        $input-font-size-sm !default;
//$custom-select-height-sm:           $input-height-sm !default;

//$custom-select-padding-y-lg:        $input-padding-y-lg !default;
//$custom-select-padding-x-lg:        $input-padding-x-lg !default;
//$custom-select-font-size-lg:        $input-font-size-lg !default;
//$custom-select-height-lg:           $input-height-lg !default;

//$custom-range-track-width:          100% !default;
//$custom-range-track-height:         .5rem !default;
//$custom-range-track-cursor:         pointer !default;
//$custom-range-track-bg:             $gray-300 !default;
//$custom-range-track-border-radius:  1rem !default;
//$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

//$custom-range-thumb-width:                   1rem !default;
//$custom-range-thumb-height:                  $custom-range-thumb-width !default;
//$custom-range-thumb-bg:                      $component-active-bg !default;
//$custom-range-thumb-border:                  0 !default;
//$custom-range-thumb-border-radius:           1rem !default;
//$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
//$custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
//$custom-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in IE/Edge
//$custom-range-thumb-active-bg:               lighten($component-active-bg, 35%) !default;
//$custom-range-thumb-disabled-bg:             $gray-500 !default;

$custom-file-height:                $input-height;
$custom-file-height-inner:          $custom-file-height - 2;
//$custom-file-focus-border-color:    $input-focus-border-color !default;
//$custom-file-focus-box-shadow:      $input-focus-box-shadow !default;
//$custom-file-disabled-bg:           $input-disabled-bg !default;

//$custom-file-padding-y:             $input-padding-y !default;
//$custom-file-padding-x:             $input-padding-x !default;
$custom-file-line-height:           $custom-file-height-inner;
//$custom-file-font-family:           $input-font-family !default;
//$custom-file-font-weight:           $input-font-weight !default;
//$custom-file-color:                 $input-color !default;
//$custom-file-bg:                    $input-bg !default;
//$custom-file-border-width:          $input-border-width !default;
//$custom-file-border-color:          $input-border-color !default;
//$custom-file-border-radius:         $input-border-radius !default;
//$custom-file-box-shadow:            $input-box-shadow !default;
//$custom-file-button-color:          $custom-file-color !default;
//$custom-file-button-bg:             $input-group-addon-bg !default;
//$custom-file-text: (
//        en: "Browse"
//) !default;

// Form validation

$form-feedback-margin-top:          map-get(split-value($form-validation-note__margin),'top');
$form-feedback-font-size:           parse-font-size($form-validation-note__font-size);
//$form-feedback-valid-color:         theme-color("success") !default;
$form-feedback-invalid-color:       $form-validation-note__color-error;

//$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
//$form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;
$form-feedback-icon-invalid-color:  $form-validation-note-icon__font-color;
//$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;

//$form-validation-states: () !default;
//$form-validation-states: map-merge(
//                (
//                        "valid": (
//                                "color": $form-feedback-valid-color,
//                                "icon": $form-feedback-icon-valid
//                        ),
//                        "invalid": (
//                                "color": $form-feedback-invalid-color,
//                                "icon": $form-feedback-icon-invalid
//                        ),
//                ),
//                $form-validation-states
//);

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   $dropdown-list__z-index;
$zindex-sticky:                     $z-index-2;
$zindex-fixed:                      $z-index-3;
$zindex-modal-backdrop:             $overlay__z-index;
$zindex-modal:                      $modal__z-index;
$zindex-popover:                    $popup__z-index;
$zindex-tooltip:                    $tooltip__z-index;


// Navs

$nav-link-padding-y: px-to-rem(map-get(split-value($nav-link__padding),'top'));
$nav-link-padding-x: px-to-rem(map-get(split-value($nav-link__padding),'left'));
//$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $tab-control__border-color;
$nav-tabs-border-width:             $tab-control__border-width;
//$nav-tabs-border-radius:            $border-radius !default;
//$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $tab-control__active__color;
$nav-tabs-link-active-bg:           $tab-control__active__background-color;
//$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

//$nav-pills-border-radius:           $border-radius !default;
//$nav-pills-link-active-color:       $component-active-color !default;
//$nav-pills-link-active-bg:          $component-active-bg !default;

//$nav-divider-color:                 $gray-200 !default;
//$nav-divider-margin-y:              $spacer / 2 !default;

// Navbar

//$navbar-padding-y:                  $spacer / 2 !default;
//$navbar-padding-x:                  $spacer !default;

//$navbar-nav-link-padding-x:         .5rem !default;

//$navbar-brand-font-size:            $font-size-lg !default;
//Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
//$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
//$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

//$navbar-toggler-padding-y:          .25rem !default;
//$navbar-toggler-padding-x:          .75rem !default;
//$navbar-toggler-font-size:          $font-size-lg !default;
//$navbar-toggler-border-radius:      $btn-border-radius !default;

//$navbar-dark-color:                 rgba($white, .5) !default;
//$navbar-dark-hover-color:           rgba($white, .75) !default;
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

//$navbar-light-color:                rgba($black, .5) !default;
//$navbar-light-hover-color:          rgba($black, .7) !default;
//$navbar-light-active-color:         rgba($black, .9) !default;
//$navbar-light-disabled-color:       rgba($black, .3) !default;
//$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
//$navbar-light-toggler-border-color: rgba($black, .1) !default;

//$navbar-light-brand-color:                $navbar-light-active-color !default;
//$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
//$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
//$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                $dropdown-list__min-width;
//$dropdown-padding-x:                0 !default;
//$dropdown-padding-y:                .5rem !default;
//$dropdown-spacer:                   .125rem !default;
//$dropdown-font-size:                $font-size-base !default;
//$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $dropdown-list__background;
$dropdown-border-color:             map-get(split-border($dropdown-list__border),'color');
//$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             map-get(split-border($dropdown-list__border),'width');
//$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
//$dropdown-divider-bg:               $gray-200 !default;
//$dropdown-divider-margin-y:         $nav-divider-margin-y !default;
//$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

//$dropdown-link-color:               $gray-900 !default;
//$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
//$dropdown-link-hover-bg:            $gray-100 !default;

//$dropdown-link-active-color:        $component-active-color !default;
//$dropdown-link-active-bg:           $component-active-bg !default;

//$dropdown-link-disabled-color:      $gray-600 !default;

//$dropdown-item-padding-y:           .25rem !default;
//$dropdown-item-padding-x:           1.5rem !default;

//$dropdown-header-color:             $gray-600 !default;
//$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x !default;

// Pagination

$pagination-padding-y:              px-to-rem(map-get(split-value($pager-item__padding),'top'));
$pagination-padding-x:              px-to-rem(map-get(split-value($pager-item__padding),'left'));
$pagination-padding-y-sm:           $pagination-padding-y;
$pagination-padding-x-sm:           $pagination-padding-x;
$pagination-padding-y-lg:           $pagination-padding-y;
$pagination-padding-x-lg:           $pagination-padding-x;
$pagination-line-height:            px-to-rem($pager__line-height);

$pagination-color:                  $pager__color;
$pagination-bg:                     $pager__background;
$pagination-border-width:           map-get(split-border($pager__border),'width');
$pagination-border-color:           map-get(split-border($pager__border),'color');

//$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
//$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $pager__hover__color;
$pagination-hover-bg:               $pager__hover__background;
$pagination-hover-border-color:     map-get(split-border($pager__hover__border),'color');

$pagination-active-color:           $pager__active__color;
$pagination-active-bg:              $pager__active__background;
$pagination-active-border-color:    map-get(split-border($pager__active__border),'color');

$pagination-disabled-color:         $pager-current__color;
$pagination-disabled-bg:            $pager-current__background;
$pagination-disabled-border-color:  map-get(split-border($pager-current__background),'color');

// Jumbotron

//$jumbotron-padding:                 2rem !default;
//$jumbotron-color:                   null !default;
//$jumbotron-bg:                      $gray-200 !default;


// Cards

//$card-spacer-y:                     .75rem !default;
//$card-spacer-x:                     1.25rem !default;
//$card-border-width:                 $border-width !default;
//$card-border-radius:                $border-radius !default;
//$card-border-color:                 rgba($black, .125) !default;
//$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
//$card-cap-bg:                       rgba($black, .03) !default;
//$card-cap-color:                    null !default;
//$card-height:                       null !default;
//$card-color:                        null !default;
//$card-bg:                           $white !default;

//$card-img-overlay-padding:          1.25rem !default;

//$card-group-margin:                 $grid-gutter-width / 2 !default;
//$card-deck-margin:                  $card-group-margin !default;

//$card-columns-count:                3 !default;
//$card-columns-gap:                  1.25rem !default;
//$card-columns-margin:               $card-spacer-y !default;

// Tooltips

$tooltip-font-size:                 parse-font-size($tooltip__font-size);
$tooltip-max-width:                 $tooltip__max-width;
$tooltip-color:                     $tooltip__border-color;
$tooltip-bg:                        $tooltip__background;
$tooltip-border-radius:             $tooltip__border-radius;
//$tooltip-opacity:                   .9 !default;
$tooltip-padding-y:                 px-to-rem(map-get(split-value($tooltip__padding),'top'));
$tooltip-padding-x:                 px-to-rem(map-get(split-value($tooltip__padding),'left'));
$tooltip-margin:                    $tooltip__margin;

$tooltip-arrow-width:               px-to-rem($tooltip-arrow__size);
$tooltip-arrow-height:              px-to-rem($tooltip-arrow__size);
$tooltip-arrow-color:               $tooltip-bg;

// Form tooltips must come after regular tooltips
//$form-feedback-tooltip-padding-y:     $tooltip-padding-y !default;
//$form-feedback-tooltip-padding-x:     $tooltip-padding-x !default;
//$form-feedback-tooltip-font-size:     $tooltip-font-size !default;
//$form-feedback-tooltip-line-height:   $line-height-base !default;
//$form-feedback-tooltip-opacity:       $tooltip-opacity !default;
//$form-feedback-tooltip-border-radius: $tooltip-border-radius !default;

// Popovers

//$popover-font-size:                 $font-size-sm !default;
//$popover-bg:                        $white !default;
//$popover-max-width:                 276px !default;
//$popover-border-width:              $border-width !default;
//$popover-border-color:              rgba($black, .2) !default;
//$popover-border-radius:             $border-radius-lg !default;
//$popover-inner-border-radius:       subtract($popover-border-radius, $popover-border-width) !default;
//$popover-box-shadow:                0 .25rem .5rem rgba($black, .2) !default;

//$popover-header-bg:                 darken($popover-bg, 3%) !default;
//$popover-header-color:              $headings-color !default;
//$popover-header-padding-y:          .5rem !default;
//$popover-header-padding-x:          .75rem !default;

//$popover-body-color:                $body-color !default;
//$popover-body-padding-y:            $popover-header-padding-y !default;
//$popover-body-padding-x:            $popover-header-padding-x !default;

//$popover-arrow-width:               1rem !default;
//$popover-arrow-height:              .5rem !default;
//$popover-arrow-color:               $popover-bg !default;

//$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;


// Toasts

//$toast-max-width:                   350px !default;
//$toast-padding-x:                   .75rem !default;
//$toast-padding-y:                   .25rem !default;
//$toast-font-size:                   .875rem !default;
//$toast-color:                       null !default;
//$toast-background-color:            rgba($white, .85) !default;
//$toast-border-width:                1px !default;
//$toast-border-color:                rgba(0, 0, 0, .1) !default;
//$toast-border-radius:               .25rem !default;
//$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

//$toast-header-color:                $gray-600 !default;
//$toast-header-background-color:     rgba($white, .85) !default;
//$toast-header-border-color:         rgba(0, 0, 0, .05) !default;

// Badges

//$badge-font-size:                   75% !default;
//$badge-font-weight:                 $font-weight-bold !default;
//$badge-padding-y:                   .25em !default;
//$badge-padding-x:                   .4em !default;
//$badge-border-radius:               $border-radius !default;

//$badge-transition:                  $btn-transition !default;
//$badge-focus-width:                 $input-btn-focus-width !default;

//$badge-pill-padding-x:              .6em !default;
//// Use a higher than normal value to ensure completely rounded edges when
//// customizing padding or font-size on labels.
//$badge-pill-border-radius:          10rem !default;

// Modals

// Padding applied to the modal body
//$modal-inner-padding:               1rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
//$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               $popup__margin-top $popup__margin-left $popup__margin-bottom $popup__margin-left;
//$modal-dialog-margin-y-sm-up:       1.75rem !default;

//$modal-title-line-height:           $line-height-base !default;

//$modal-content-color:               null !default;
$modal-content-bg:                  $popup__background;
$modal-content-border-color:        $popup__border-color;
$modal-content-border-width:        map-get(split-border($popup__border),'width');
//$modal-content-border-radius:       $border-radius-lg !default;
//$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       $popup__shadow;
$modal-content-box-shadow-sm-up:    $popup__shadow;

$modal-backdrop-bg:                 $overlay__background;
$modal-backdrop-opacity:            $overlay__opacity;
//$modal-header-border-color:         $border-color !default;
//$modal-footer-border-color:         $modal-header-border-color !default;
//$modal-header-border-width:         $modal-content-border-width !default;
//$modal-footer-border-width:         $modal-header-border-width !default;
//$modal-header-padding-y:            1rem !default;
//$modal-header-padding-x:            1rem !default;
//$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

//$modal-fade-transform:              translate(0, -50px) !default;
//$modal-show-transform:              none !default;
$modal-transition:                  $popup__fade;
//$modal-scale-transform:             scale(1.02) !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   px-to-rem(map-get(split-value($message__padding),'top'));
$alert-padding-x:                   px-to-rem(map-get(split-value($message__padding),'left'));
$alert-margin-bottom:               px-to-rem(map-get(split-value($message__margin),'bottom'));
$alert-border-radius:               $message__border-radius;
//$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $message__border-width;

$alert-bg-level:                    0;
$alert-border-level:                0;
//$alert-color-level:                 6 !default;


// Progress bars

//$progress-height:                   1rem !default;
//$progress-font-size:                $font-size-base * .75 !default;
//$progress-bg:                       $gray-200 !default;
//$progress-border-radius:            $border-radius !default;
//$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
//$progress-bar-color:                $white !default;
//$progress-bar-bg:                   theme-color("primary") !default;
//$progress-bar-animation-timing:     1s linear infinite !default;
//$progress-bar-transition:           width .6s ease !default;

// List group

//$list-group-color:                  null !default;
//$list-group-bg:                     $white !default;
//$list-group-border-color:           rgba($black, .125) !default;
//$list-group-border-width:           $border-width !default;
//$list-group-border-radius:          $border-radius !default;

//$list-group-item-padding-y:         .75rem !default;
//$list-group-item-padding-x:         1.25rem !default;

//$list-group-hover-bg:               $gray-100 !default;
//$list-group-active-color:           $component-active-color !default;
//$list-group-active-bg:              $component-active-bg !default;
//$list-group-active-border-color:    $list-group-active-bg !default;

//$list-group-disabled-color:         $gray-600 !default;
//$list-group-disabled-bg:            $list-group-bg !default;

//$list-group-action-color:           $gray-700 !default;
//$list-group-action-hover-color:     $list-group-action-color !default;

//$list-group-action-active-color:    $body-color !default;
//$list-group-action-active-bg:       $gray-200 !default;


// Image thumbnails

//$thumbnail-padding:                 .25rem !default;
//$thumbnail-bg:                      $body-bg !default;
//$thumbnail-border-width:            $border-width !default;
//$thumbnail-border-color:            $gray-300 !default;
//$thumbnail-border-radius:           $border-radius !default;
//$thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;


// Figures

//$figure-caption-font-size:          90% !default;
//$figure-caption-color:              $gray-600 !default;


// Breadcrumbs

$breadcrumb-font-size:              parse-font-size($breadcrumbs__font-size);

$breadcrumb-padding-y:              px-to-rem(map-get(split-value($breadcrumbs__padding),'top'));
$breadcrumb-padding-x:              px-to-rem(map-get(split-value($breadcrumbs__padding),'left'));
//$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          px-to-rem(map-get(split-value($breadcrumbs__container-margin),'bottom'));

$breadcrumb-bg:                     $breadcrumbs-link__background;
$breadcrumb-divider-color:          $breadcrumbs-separator__color;
$breadcrumb-active-color:           $breadcrumbs-current__color;
$breadcrumb-divider:                $breadcrumbs-separator__symbol;

//$breadcrumb-border-radius:          $border-radius !default;

// Carousel

//$carousel-control-color:             $white !default;
//$carousel-control-width:             15% !default;
//$carousel-control-opacity:           .5 !default;
//$carousel-control-hover-opacity:     .9 !default;
//$carousel-control-transition:        opacity .15s ease !default;
//
//$carousel-indicator-width:           30px !default;
//$carousel-indicator-height:          3px !default;
//$carousel-indicator-hit-area-height: 10px !default;
//$carousel-indicator-spacer:          3px !default;
//$carousel-indicator-active-bg:       $white !default;
//$carousel-indicator-transition:      opacity .6s ease !default;
//
//$carousel-caption-width:             70% !default;
//$carousel-caption-color:             $white !default;
//
//$carousel-control-icon-width:        20px !default;
//
//$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='8' height='8' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>") !default;
//$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='8' height='8' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>") !default;
//
//$carousel-transition-duration:       .6s !default;
//$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
//
//
//// Spinners
//
//$spinner-width:         2rem !default;
//$spinner-height:        $spinner-width !default;
//$spinner-border-width:  .25em !default;
//
//$spinner-width-sm:        1rem !default;
//$spinner-height-sm:       $spinner-width-sm !default;
//$spinner-border-width-sm: .2em !default;
//
//
//// Close
//
//$close-font-size:                   $font-size-base * 1.5 !default;
//$close-font-weight:                 $font-weight-bold !default;
//$close-color:                       $black !default;
//$close-text-shadow:                 0 1px 0 $white !default;
//
//
//// Code
//
//$code-font-size:                    87.5% !default;
//$code-color:                        $pink !default;
//
//$kbd-padding-y:                     .2rem !default;
//$kbd-padding-x:                     .4rem !default;
//$kbd-font-size:                     $code-font-size !default;
//$kbd-color:                         $white !default;
//$kbd-bg:                            $gray-900 !default;
//
//$pre-color:                         $gray-900 !default;
//$pre-scrollable-max-height:         340px !default;
//
//
//// Utilities
//
//$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
//$overflows: auto, hidden !default;
//$positions: static, relative, absolute, fixed, sticky !default;
//$user-selects: all, auto, none !default;
//
//
//// Printing
//
//$print-page-size:                   a3 !default;
//$print-body-min-width:              map-get($grid-breakpoints, "lg") !default;